<html>
<body>
    <div class="row d-flex justify-content-center">
    <h1> Create your own event</h1>
    <div class="container d-flex justify-content-center">
        <%= form_tag url_for(action: 'create'), method: "post" do %>
        <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >        <br /> 
            <div><%= label_tag 'Title' %></div>
            <div><%= text_field_tag 'event_title' %></div>
            <br /> 
            <div><%= label_tag 'Location' %></div>
            <div><%= text_field_tag 'event_location'%></div>
            <br /> 
            <div><%= label_tag 'Date' %></div>
            <div><%= text_field_tag 'event_start_date'%></div>
            <br /> 
            <div><%= label_tag 'Duration : (en minute et un multiple de 5)' %></div>
            <div><%= text_field_tag 'event_duration'%></div>
            <br /> 
            <div><%= label_tag 'Price of your event' %></div>
            <div><%= text_field_tag 'event_price'%></div>
            <br /> 
            <div><%= label_tag 'Tell us about your event' %></div>
            <div><%= text_area_tag 'event_description'%></div>
            
            
            <br /> <br />
            <%= submit_tag "Valider", class: 'btn btn-primary btn-lg btn-submit'  %>
        <% end %>
    </div>
    </div>
</form>
</body>
</html>